<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailDeliveryMode" value="SendGrid" />
    <add key="UserName" value="azure_d70fb0b1591d61ccbf8d413aab593768@azure.com" />
    <add key="Password" value="P@ssword01" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="logging@byronbayer.com">
        <network host="smtp.sendgrid.net" password="P@ssword01" userName="azure_d70fb0b1591d61ccbf8d413aab593768@azure.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>