<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="EmailDeliveryMode" value="SendGrid" />
    <add key="UserName" value="azure_d70fb0b1591d61ccbf8d413aab593768@azure.com" />
    <add key="Password" value="P@55word" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="logging@byronbayer.com">
        <network host="smtp.sendgrid.net" password="P@55word" userName="azure_d70fb0b1591d61ccbf8d413aab593768@azure.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
